<div class="container">
	<div id="appName"><strong>soci.al</strong></div>
	<div id="underTitle">twitter & instagram recommendations for friends!</div>
</div>

<section class="content">
	<div class="sign-in">
		<div class="row">
			<div class="col-md-12 text-center"></div>
		</div>

		<div class="ruby-form">
			<%= form_for @user, url: { controller: 'sessions', action: 'create' } do |f| %>
				<%= f.text_field :email, 				placeholder: 'EMAIL',   autofocus:true %>
				<%= f.password_field :password, placeholder: 'PASSWORD' %>

				<%= f.submit 'Log In' %>
			<% end %>

			<br /><%= link_to 'Create a new user!', new_user_path %>
		</div>
	</div>
</section>
