<div class="containerRec">
	<%#= link_to 'My user page', recommendations_path %>
	<%= render 'navy' %>

	<div class="myRec">
		<h1><%= @user.first_name.capitalize %>'s Recommendations!</h1>

		<div class="publicContent">
			<table id="tableSent2">
				<tbody>
				<% @recommendations.each do |rec| %>
				<tr>
					<td>
						<% if rec.social_media == 'Twitter' %>
							<%= image_tag('twitter.png') %>
						<% elsif rec.social_media == 'Instagram' %>
							<%= image_tag('instagram.png') %>
						<% end %>
					</td>
					<td>
						<% if rec.social_media == 'Twitter' %>
							<%= link_to "@#{rec.handle}", "http://twitter.com/#{rec.handle}" %>
						<% elsif rec.social_media == 'Instagram' %>
							<%= link_to "@#{rec.handle}", "http://instagram.com/#{rec.handle}" %>
						<% end %>
					</td>
					<td>
						<% if rec.social_media == 'Instagram' %>
							<% query = rec.handle %>
							<%= image_tag HTTParty.get(@base_url+@search_access_token+@api_key+'&q='+query+'&count=1')['data'][0]['profile_picture'] %>
						<% elsif rec.social_media == 'Twitter' %>
							<%= image_tag $twitter.user(rec.handle).profile_image_uri(size=:bigger) %>
						<% end %>
					</td>
					<td>
						<% if rec.social_media == 'Instagram' %>
							<% query = rec.handle %>
							<% insta_user_id = HTTParty.get(@base_url+@search_access_token+@api_key+'&q='+query+'&count=1')['data'][0]['id'].to_s %>
							<% most_recent_photo = HTTParty.get(@base_url+insta_user_id+@photo_access_token+@api_key+'&count=1')['data'][0]['images']['thumbnail']['url'] %>
							<%= image_tag most_recent_photo %>
						<% elsif rec.social_media == 'Twitter' %>
							<%= $twitter.user_timeline(rec.handle).first.text %>
						<% end %>
					</td>
					<!--tags-->
					<td>
						<div class="tags-container">
							<% if rec.is_blog %>
								<div class="tag"><%= image_tag 'tag-icons/blog.png' %></div>
							<% end %>
							<% if rec.is_fashion %>
								<div class="tag"><%= image_tag 'tag-icons/fashion.png' %></div>
							<% end %>
							<% if rec.is_film %>
								<div class="tag"><%= image_tag 'tag-icons/film.png' %></div>
							<% end %>
							<% if rec.is_food %>
								<div class="tag"><%= image_tag 'tag-icons/food.png' %></div>
							<% end %>
							<% if rec.is_funny %>
								<div class="tag"><%= image_tag 'tag-icons/funny.png' %></div>
							<% end %>
							<% if rec.is_music %>
								<div class="tag"><%= image_tag 'tag-icons/music.png' %></div>
							<% end %>
							<% if rec.is_news %>
								<div class="tag"><%= image_tag 'tag-icons/news.png' %></div>
							<% end %>
							<% if rec.is_sports %>
								<div class="tag"><%= image_tag 'tag-icons/sports.png' %></div>
							<% end %>
							<% if rec.is_tv %>
								<div class="tag"><%= image_tag 'tag-icons/tv.png' %></div>
							<% end %>
							</div>
						</td>
						<td>
							<% if @user.id == session['user_id'].to_i %>
								<%#= link_to 'View', rec %>
								<%= link_to 'Delete | ', rec, method: :delete, data: {confirm: 'Are you sure?'} %>
								<%= link_to 'Edit', edit_recommendation_path(rec) %>
							<% end %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>